In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ESS8_data.csv')

In [3]:
X = df[['SD1', 'PO1', 'UN1', 'AC1', 'SC1',
       'ST1', 'CO1', 'TR1', 'HD1', 'AC2', 'SC2', 'ST2',
       'CO2', 'PO2', 'BE2', 'TR2', 'HD2']].iloc[range(100),:]
X = X.to_numpy().T
N, M = X.T.shape
K = 9

In [4]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2,3,3,2,3,3,2,3,3,3,...,2,3,2,2,2,2,2,4,3,2
1,6,6,5,3,4,5,5,5,5,4,...,4,1,4,2,4,5,5,3,3,5
2,1,2,2,2,1,1,2,2,4,4,...,1,1,1,2,1,1,2,2,3,2
3,2,3,4,2,4,3,6,4,3,3,...,3,3,2,2,3,3,3,2,3,2
4,2,5,1,2,3,1,3,2,3,2,...,2,4,1,2,1,4,3,3,4,2
5,3,3,6,3,3,4,5,4,2,1,...,2,3,3,2,4,1,1,3,3,5
6,5,5,5,3,5,1,4,3,3,2,...,3,1,4,2,1,6,5,4,3,2
7,2,4,3,2,1,1,1,4,3,2,...,3,3,2,2,4,4,4,3,3,2
8,4,3,2,2,1,3,2,3,3,2,...,2,2,1,2,1,2,2,3,3,5
9,2,3,6,3,3,3,4,3,4,4,...,3,2,3,2,3,2,1,3,3,2
10,6,4,1,2,4,1,3,2,3,2,...,4,1,2,3,1,1,1,3,3,3
11,3,5,6,3,5,6,5,5,4,4,...,5,3,5,2,6,1,2,4,3,5
12,6,5,3,4,2,2,3,2,3,3,...,4,3,3,3,1,4,4,3,3,3
13,1,2,3,2,3,3,2,2,3,3,...,3,2,2,3,1,3,3,4,3,5
14,1,2,1,2,1,2,5,1,3,2,...,3,2,2,2,1,1,1,4,3,2
15,6,5,2,2,4,2,3,1,4,3,...,3,2,1,2,4,3,4,3,3,1
16,3,5,3,2,1,3,2,3,3,2,...,3,3,3,2,5,2,2,4,4,5

### Initialize Z randomly

In [5]:
np.random.seed(42)
#Z = np.random.randint(1, 6, (M,K)) 
p = np.random.permutation(range(100))[:K]
p

array([83, 53, 70, 45, 44, 39, 22, 80, 10])

In [6]:
Z = X[:,p]
Z.shape

(17, 9)

# Algorithm 1 - Compute A

### Initialize A with unit vectors

In [7]:
def unitA(i):
    l = [0]*K
    l[i]=1
    return np.array(l)

In [8]:
A = [] # k X n
for i in range(N):
    A.append(unitA(0))  
A=np.array(A).T
A.shape

(9, 100)

### Initialize B with unit vectors

In [9]:
def unitB(i):
    l = [0]*N
    l[i]=1
    return np.array(l)

In [10]:
B = [] # n X k
for i in range(K):
    B.append(unitB(0))  
B=np.array(B).T
B.shape

(100, 9)

In [32]:
A = [] # k X n
for i in range(N):
    A.append(unitA(0))  
A=np.array(A).T
A.shape

B = [] # n X k
for i in range(K):
    B.append(unitB(0))  
B=np.array(B).T
B.shape

A=np.random.random((K,N))
B=np.random.random((N,K))
print(np.linalg.norm(X-(Z@A) ))

Z = X[:,p]

for i in range(100):    
    ### Algorithm 1 - compute A
    t = 0
    tmax = 1000
    while t < tmax:
        G = 2*( Z.T@Z@A - Z.T@X )
        for i in range(N):
            j = np.argmin(G[:,i])
            A[:,i] = A[:,i] + 2/(t+2) * (unitA(j)-A[:,i]) # 2/(t+2) 
               
            
        t+=1

    ### Algorithm 2 - compute B
    t = 0
    tmax = 1000
    while t < tmax:
        G = 2*( X.T@X@B@A@A.T - X.T@X@A.T )
        
        for j in range(K):
            i = np.argmin(G[:,j])
            B[:,j] = B[:,j] + 2/(t+2) * (unitB(i)-B[:,j])
              
        t+=1
        
        
    ### Update Z
    #print('A',pd.DataFrame(A))
    #print('B',pd.DataFrame(B))
    Z=X@B
    #print('Z',Z)
    
    ### Compute RSS
    print(np.linalg.norm(X - Z@A))

427.2989036799642
36.19989787911738
33.862830665615725
33.338783135862194
33.13319484949259
33.00324072072822
32.89033489625082
32.7764921214087
32.6782990821604
32.59502939050103
32.5185234018431
32.448951397081096
32.369017057261495
32.28190446394667
32.20128344278345
32.13717988786942
32.078383487982435
32.024664472567956
31.97485786415221
31.934136435453055
31.90307475046148
31.878068561680497
31.856489890902115
31.839779447185933
31.82683591226365
31.81589406582194
31.806128820900195
31.799970652217368
31.795929409784822
31.79295385088949
31.7908938306457
31.78919892247881
31.78758656603866
31.78629242969256
31.78513551604873
31.784044225800674
31.782854916859627
31.781371604833502
31.77986158991339
31.77792143365746
31.775192967119004
31.771441286365725
31.76566530142685
31.757019644868315
31.744103213961537
31.723171905875645
31.686125485181762
31.63421472682562
31.545170746287656
31.380631204437773
31.24257882752562
31.150835629881257
31.102244493349616
31.08843690746094
31.083307315000276
31.080411829463714
31.07847135324248
31.077109902567862
31.076213222050143
31.075559671944117
31.075058965282302
31.074705422553
31.074378596913405
31.074176389808553
31.073996264234705
31.073837525510843
31.073749224928196
31.073637817822405
31.0736158432568
31.073553995468696
31.07351672460998
31.07349118414812
31.073419783547838
31.073425522774247
31.073397273125387
31.073388121887223
31.073352666000435
31.073346002205376
31.073336029645645
31.073316730812437
31.07329416577156
31.07327733070725
31.073300723265454
31.07329471599569
31.0732744951786
31.073283062889246
31.073227767751096
31.07332351186726
31.07324602825687
31.073336894983818
31.07327727335292
31.073295192530615
31.073300008303082
31.07328560309592
31.07324466737342
31.073247907548005
31.07329406593047
31.073301979965578
31.073232306163867
31.07330923382325
31.0732294757944

In [12]:
np.linalg.norm(X)

126.70438035048355

In [13]:
np.sum(Z)

440

In [37]:
np.sum(A,axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])