In [5]:
import numpy as np
import pandas as pd
from aa import AA

In [3]:
df = pd.read_csv('ESS8_data.csv')

In [4]:
X = df[['SD1', 'PO1', 'UN1', 'AC1', 'SC1',
       'ST1', 'CO1', 'TR1', 'HD1', 'AC2', 'SC2', 'ST2',
       'CO2', 'PO2', 'BE2', 'TR2', 'HD2']].iloc[range(100),:]
X = X.to_numpy().T
N, M = X.T.shape
K = 9

In [30]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2,3,3,2,3,3,2,3,3,3,...,2,3,2,2,2,2,2,4,3,2
1,6,6,5,3,4,5,5,5,5,4,...,4,1,4,2,4,5,5,3,3,5
2,1,2,2,2,1,1,2,2,4,4,...,1,1,1,2,1,1,2,2,3,2
3,2,3,4,2,4,3,6,4,3,3,...,3,3,2,2,3,3,3,2,3,2
4,2,5,1,2,3,1,3,2,3,2,...,2,4,1,2,1,4,3,3,4,2
5,3,3,6,3,3,4,5,4,2,1,...,2,3,3,2,4,1,1,3,3,5
6,5,5,5,3,5,1,4,3,3,2,...,3,1,4,2,1,6,5,4,3,2
7,2,4,3,2,1,1,1,4,3,2,...,3,3,2,2,4,4,4,3,3,2
8,4,3,2,2,1,3,2,3,3,2,...,2,2,1,2,1,2,2,3,3,5
9,2,3,6,3,3,3,4,3,4,4,...,3,2,3,2,3,2,1,3,3,2
10,6,4,1,2,4,1,3,2,3,2,...,4,1,2,3,1,1,1,3,3,3
11,3,5,6,3,5,6,5,5,4,4,...,5,3,5,2,6,1,2,4,3,5
12,6,5,3,4,2,2,3,2,3,3,...,4,3,3,3,1,4,4,3,3,3
13,1,2,3,2,3,3,2,2,3,3,...,3,2,2,3,1,3,3,4,3,5
14,1,2,1,2,1,2,5,1,3,2,...,3,2,2,2,1,1,1,4,3,2
15,6,5,2,2,4,2,3,1,4,3,...,3,2,1,2,4,3,4,3,3,1
16,3,5,3,2,1,3,2,3,3,2,...,3,3,3,2,5,2,2,4,4,5

data = X
W = Z
H = A
beta = B

In [37]:
aa_mdl = AA(X.T, num_bases=K)

In [38]:
aa_mdl.factorize(niter=1000)

In [47]:
X=pd.DataFrame(aa_mdl.W@aa_mdl.H)

In [42]:
A=pd.DataFrame(aa_mdl.H)

In [43]:
Z=pd.DataFrame(aa_mdl.W)

In [50]:
np.linalg.norm(X-(Z@A))

0.0